html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding-top: 35px;
	background-color: white;
}

.caption {
	border-radius: 10px;
	border: 5px dotted purple;
	flex-grow: 1;
	&.there {
		background-color: green;
	}
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.mainAreaThing {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	> div {
		display: inline-flex;
		min-width: 80%;
		min-height: 80%;
		width: auto;
		height: auto;
		> img {
			width: 100%;
			object-fit: contain;
			box-shadow: 0px 1px 3px rgba(0,0,0,.26);
		}
	}
}

.colorChoice, .sizeChoice {
	margin-bottom: .5em;
	display: flex;
	justify-content: space-around;
	> div {
		width: 10%;
		display: inline-block;
		position: relative;
		&:before {
			margin-top: 100%;
			content: "";
			display: block;
		}
		> div {
			border-radius: 50%;
			position: absolute;
			box-sizing: border-box;
			&.selected {
				border: 1vw solid grey;
			}
		}
	}
}

.colorChoice > div > div {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border: .2vw solid grey;
}

.sizeChoice > div > div {
	background-color: black;
}
